name: Deploy PHP App to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to AWS Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USERNAME }}
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            cd /var/www/html/aws-backend/php-backend/index.php
            git pull origin main
            composer install --no-dev --optimize-autoloader
            sudo systemctl restart nginx

